<% provide(:title, t('grades')) %>

<% content_for :card_header do %>
  <%= will_paginate @grades, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_grade_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %>
    <%= t('new_resource', resource: t('activerecord.models.grade')) %>
  <% end %>
  <%= will_paginate @grades, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.grade.code') %></th>
      <th>
        <%= t('activerecord.attributes.grade.name') %></th>
      <th>
        <%= t('activerecord.attributes.grade.description') %></th>
      <th>
        <%= t('activerecord.attributes.grade.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.code %></td>
        <td><%= grade.name %></td>
        <td><%= grade.description %></td>
        <td><%= grade.status.name %></td>
        <td>
          <%= link_to grade, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_grade_path(grade), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to grade, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
