<% provide(:title, t('grades')) %>

<% content_for :card_header do %>
  <%= will_paginate @grades, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.grade')),
              new_grade_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @grades, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.grade.code') %></th>
      <th>
        <%= t('activerecord.attributes.grade.name') %></th>
      <th>
        <%= t('activerecord.attributes.grade.description') %></th>
      <th>
        <%= t('activerecord.attributes.grade.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= grade.code %></td>
        <td><%= grade.name %></td>
        <td><%= grade.description %></td>
        <td><%= grade.status.name %></td>
        <td>
          <%= link_to t('show'), grade, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_grade_path(grade), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), grade, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
