<p id="notice"><%= notice %></p>

<h1>Instution Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Institution</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instution_addresses.each do |instution_address| %>
      <tr>
        <td><%= instution_address.institution_id %></td>
        <td><%= instution_address.address_id %></td>
        <td><%= link_to 'Show', instution_address %></td>
        <td><%= link_to 'Edit', edit_instution_address_path(instution_address) %></td>
        <td><%= link_to 'Destroy', instution_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instution Address', new_instution_address_path %>
