<div class="row" data-controller="channel" data-channel-id="<%= @channel.id %>">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= t('channels') %></h3>
        <div class="card-tools">
          <%= link_to icon('fas', 'plus'), new_channel_path, class: 'btn btn-tool' %>
        </div>
      </div>
      <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
          <% Channel.all.each do |channel| %>
            <li class="nav-item">
              <%= link_to channel.name, channel, class: 'nav-link' %>
              <% if current_user.channels.include?(channel) %>
                <%= link_to icon('fas', 'times'), channel_channel_user_path(channel),
                            method: :delete, class: 'btn btn-tool' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <h6><%= t('users') %></h6>
    </div>
    <% @channel.users.each do |user| %>
      <div><%= user.name %></div>
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="card card-primary cardtutline direct-chat direct-chat-primary"
    >
      <div class="card-header">
        <h3 class="card-title"><%= @channel.name %></h3>
      </div>
      <div class="card-body">
        <div id="chat-messages" data-user-id="<%= current_user.id %>"
             class="direct-chat-messages" data-target="channel.messages">
          <%= render @channel.messages.includes(:user) %>
        </div>
      </div>
      <div class="card-footer">
        <% if current_user.channels.include?(@channel) %>
          <%= form_with model: [@channel, Message.new],
                        data: { action: "ajax:success->channel#clearMessage" } do |form| %>
            <%= form.text_field :body, placeholder: "Message ##{@channel.name}",
                                class: "form-control", data: { target: "channel.newMessage" } %>
          <% end %>
        <% else %>
          <%= link_to "Join #{@channel.name}", channel_channel_user_path(@channel),
                      method: :post, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
