<div class="row" data-controller="channel" data-channel-id="<%= @channel.id %>">
  <div class="col-md-4">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title"><%= t('channels') %></h3>
        <div class="card-tools">
          <%= link_to icon('fas', 'plus'), new_channel_path, class: 'btn btn-tool' %>
        </div>
      </div>
      <div class="card-body p-0" style="height: 70vh">
        <ul class="nav nav-pills flex-column">
          <% Channel.all.each do |channel| %>
            <li id="channel_<%= channel.id %>" class="nav-item" data-controller="unreads"
                data-unreads-id="<%= channel.id %>">
              <%= link_to channel, class: "nav-link #{ 'active' if active_channel?(channel)}" do %>
                <%= channel.name %>
                <span class="badge bg-danger float-right <%= 'd-none' if channel.unreads_count(current_user).zero? %>">
                  <%= channel.unreads_count(current_user) %>
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card card-primary direct-chat direct-chat-primary">
      <div class="card-header">
        <h3 class="card-title"><%= @channel.name %></h3>
      </div>
      <div class="card-body">
        <div id="chat-messages" class="direct-chat-messages"
             data-target="channel.messages" style="height: 60vh">
          <%= render @channel.messages.includes(:user) %>
        </div>
      </div>
      <div class="card-footer">
        <% if current_user.channels.include?(@channel) %>
          <%= form_with model: [@channel, Message.new],
                        data: { action: "ajax:success->channel#clearMessage" } do |form| %>
            <div class="input-group">
              <%= form.text_field :body, placeholder: "Message ##{@channel.name}",
                                  class: "form-control", data: { target: "channel.newMessage" } %>
              <span class="input-group-append">
                <%= form.submit t('send'), class: 'btn btn-primary form-control' %>
              </span>
            </div>
          <% end %>
        <% else %>
          <%= link_to "#{t('join')} #{@channel.name}", channel_channel_user_path(@channel),
                      method: :post, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
