<div class="row" data-controller="channel" data-channel-id="<%= @channel.id %>">
  <div class="col-md-4">
    <div class="card card-outline card-primary">
      <div class="card-header">
        <h3 class="card-title"><%= t('channels') %></h3>
        <div class="card-tools">
          <%= link_to icon('fas', 'plus'), new_channel_path, class: 'btn btn-tool' %>
        </div>
      </div>
      <div class="card-body table-responsive p-0" style="height: 75vh">
        <table class="table table-hover table-head-fixed text-nowrap">
          <thead>
          <tr>
            <th><%= t('activerecord.attributes.cycle_type.name') %></th>
            <th colspan="1"></th>
          </tr>
          </thead>

          <tbody>
          <% Channel.all.each do |channel| %>
            <tr>
              <td><%= channel.name %></td>
              <td>
                <%= link_to channel, class: 'btn btn-sm btn-info' do %>
                  <%= icon('fas', 'eye') %> <%= t('show') %>
                <% end %>
                <%= link_to edit_channel_path(channel), class: 'btn btn-sm btn-success' do %>
                  <%= icon('fas', 'edit') %> <%= t('edit') %>
                <% end %>
                <%= link_to channel, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
                  <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card card-primary direct-chat direct-chat-primary">
      <div class="card-header">
        <h3 class="card-title"><%= @channel.name %></h3>
      </div>
      <div class="card-body">
        <div id="chat-messages" data-user-id="<%= current_user.id %>"
             class="direct-chat-messages" data-target="channel.messages">
          <%= render @channel.messages.includes(:user) %>
        </div>
      </div>
      <div class="card-footer">
        <% if current_user.channels.include?(@channel) %>
          <%= form_with model: [@channel, Message.new],
                        data: { action: "ajax:success->channel#clearMessage" } do |form| %>
            <div class="input-group">
              <%= form.text_field :body, placeholder: "Message ##{@channel.name}",
                                  class: "form-control", data: { target: "channel.newMessage" } %>
              <span class="input-group-append">
                <%= form.submit t('send'), class: 'btn btn-primary form-control' %>
              </span>
            </div>
          <% end %>
        <% else %>
          <%= link_to "#{t('join')} #{@channel.name}", channel_channel_user_path(@channel),
                      method: :post, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
