<% provide(:title, t('institutions')) %>

<% content_for :card_header do %>
  <%= will_paginate @institutions, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_institution_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %>
    <%= t('new_resource', resource: t('activerecord.models.institution')) %>
  <% end %>
  <%= will_paginate @institutions, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.institution.code') %></th>
      <th><%= t('activerecord.attributes.institution.name') %></th>
      <th><%= t('activerecord.attributes.institution.description') %></th>
      <th><%= t('activerecord.attributes.institution.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>
    <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.code %></td>
        <td><%= institution.name %></td>
        <td><%= institution.description %></td>
        <td><%= institution.status.name %></td>
        <td>
          <%= link_to institution, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_institution_path(institution), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to institution, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
