<% provide :title, @institution.name %>
<% provide :card_title, t('activerecord.models.institution') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_institution_path(@institution), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), institutions_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <%= t('activerecord.attributes.institution.code') %>:</strong>
    <%= @institution.code %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.institution.name') %>:</strong>
    <%= @institution.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.institution.description') %>:</strong>
    <%= @institution.description %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.institution.country_id') %>:</strong>
    <%= @institution.country.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.institution.status_id') %>:</strong>
    <%= @institution.status.name %>
  </p>
<% end %>
