<% if !@bar_shown && @last_read_at && message.created_at > @last_read_at %>
  <% @bar_shown = true %>
  <div class="border-bottom border-danger"></div>
<% end %>
<div class="direct-chat-msg <%= chat_align(message)  %>"
     data-user-id="<%= message.user.id %>">
  <div class="direct-chat-infos clearfix">
    <span class="direct-chat-name float-<%= chat_name_align(message) %>">
      <%= message.user.name %>
    </span>
    <span class="direct-chat-timestamp float-<%= chat_timestamp_align(message) %>">
      <%= l(message.created_at, format: :chat) %>
    </span>
  </div>
  <%= image_tag message.user.avatar.attached? ? message.user.avatar : 'avatar.jpg',
                class: 'direct-chat-img' %>
  <div class="direct-chat-text"><%= message.body %></div>
</div>
