<% provide(:title, t('classrooms')) %>

<% content_for :card_header do %>
  <%= will_paginate @classrooms, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.classroom')),
              new_classroom_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @classrooms, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Building</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.code %></td>
        <td><%= classroom.description %></td>
        <td><%= classroom.building.code %></td>
        <td><%= classroom.status.name %></td>
        <td>
          <%= link_to t('show'), classroom, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_classroom_path(classroom), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), classroom, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
