<% provide :title, @classroom.name %>
<% provide :card_title, t('activerecord.models.classroom') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_classroom_path(@classroom), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), classrooms_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.classroom.code') %>:</strong>
    <%= @classroom.code %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.classroom.description') %>:</strong>
    <%= @classroom.description %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.classroom.building_id') %>:</strong>
    <%= @classroom.building.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.classroom.status_id') %>:</strong>
    <%= @classroom.status.name %>
  </p>
<% end %>
