<p>
  <strong>Code:</strong>
  <%= @classroom.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classroom.description %>
</p>

<p>
  <strong>Building:</strong>
  <%= @classroom.building.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @classroom.status.name %>
</p>

<%= link_to t('edit'), edit_classroom_path(@classroom), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), classrooms_path, class: 'btn btn-sm btn-danger' %>
