<p>
  <strong>Code:</strong>
  <%= @classroom.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @classroom.description %>
</p>

<p>
  <strong>Building:</strong>
  <%= @classroom.building.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @classroom.status.name %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
