<%= form_with(model: level_career, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :educative_level_id %>
    <%= form.collection_select :educative_level_id, EducativeLevel.all,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :career_id %>
    <%= form.collection_select :career_id, Career.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
