<%= form_with(model: level_career, local: true) do |form| %>
  <% if level_career.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level_career.errors.count, "error") %> prohibited this level_career from being saved:</h2>

      <ul>
        <% level_career.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :educative_level_id %>
    <%= form.text_field :educative_level_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :career_id %>
    <%= form.text_field :career_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
