<% provide(:title, t('level_careers')) %>

<% content_for :card_header do %>
  <%= will_paginate @level_careers, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.level_career')),
              new_level_career_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @level_careers, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <% t('activerecord.attributes.level_career.educative_level_id') %></th>
      <th>
        <% t('activerecord.attributes.level_career.career_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @level_careers.each do |level_career| %>
      <tr>
        <td><%= level_career.educative_level.name %></td>
        <td><%= level_career.career.name %></td>
        <td>
          <%= link_to t('show'), level_career, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_level_career_path(level_career), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), level_career, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
