<table>
  <thead>
  <tr>
    <th>Educative level</th>
    <th>Career</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @level_careers.each do |level_career| %>
    <tr>
      <td><%= level_career.educative_level.name %></td>
      <td><%= level_career.career.name %></td>
      <td><%= link_to t('show'), level_career %></td>
      <td><%= link_to t('edit'), edit_level_career_path(level_career) %></td>
      <td><%= link_to t('destroy'), level_career, method: :delete, data: { confirm: t('you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Level Career', new_level_career_path %>
<%= will_paginate @level_careers %>
