<% provide :title, @level_career.name %>
<% provide :card_title, t('activerecord.models.level_career') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_level_career_path(@level_career), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), level_careers_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>Educative level:</strong>
    <%= @level_career.educative_level.name %>
  </p>

  <p>
    <strong>Career:</strong>
    <%= @level_career.career.name %>
  </p>
<% end %>
