<% provide(:title, @campu.name) %>

<p>
  <strong><%= t('activerecord.attributes.campu.name') %>:</strong>
  <%= @campu.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.campu.school_id') %>:</strong>
  <%= @campu.school.name %>
</p>

<%= link_to t('edit'), edit_campu_path(@campu) %> |
<%= link_to t('back'), campus_path %>
