<% provide(:title, t('statuses')) %>

<% content_for :card_header do %>
  <%= will_paginate @statuses, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_status_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %>
    <%= t('new_resource', resource: t('activerecord.models.status')) %>
  <% end %>
  <%= will_paginate @statuses, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.status.code') %></th>
      <th>
        <%= t('activerecord.attributes.status.name') %></th>
      <th>
        <%= t('activerecord.attributes.status.description') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.code %></td>
        <td><%= status.name %></td>
        <td><%= status.description %></td>
        <td>
          <%= link_to status, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_status_path(status), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to status, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
