<% provide(:title, @status.name) %>

<p>
  <strong>Code:</strong>
  <%= @status.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @status.description %>
</p>

<%= link_to t('edit'), edit_status_path(@status), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), statuses_path, class: 'btn btn-sm btn-danger' %>
