<% provide :title, @status.name %>
<% provide :card_title, t('activerecord.models.status') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_status_path(@status), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), statuses_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <% t('activerecord.attributes.status.code') %>:</strong>
    <%= @status.code %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.status.name') %>:</strong>
    <%= @status.name %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.status.description') %>:</strong>
    <%= @status.description %>
  </p>
<% end %>
