<% provide :title, @syllabus.name %>
<% provide :card_title, t('activerecord.models.syllabus') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_syllabus_path(@syllabus), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), syllabuses_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <%= t('activerecord.attributes.syllabus.code') %>:</strong>
    <%= @syllabus.code %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.syllabus.name') %>:</strong>
    <%= @syllabus.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.syllabus.description') %>:</strong>
    <%= @syllabus.description %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.syllabus.approval_credits') %>:</strong>
    <%= @syllabus.approval_credits %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.syllabus.status_id') %>:</strong>
    <%= @syllabus.status.name %>
  </p>
<% end %>
