<p>
  <strong>Code:</strong>
  <%= @syllabus.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @syllabus.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @syllabus.description %>
</p>

<p>
  <strong>Approval credits:</strong>
  <%= @syllabus.approval_credits %>
</p>

<p>
  <strong>Status:</strong>
  <%= @syllabus.status.name %>
</p>

<%= link_to t('edit'), edit_syllabus_path(@syllabus), class: 'btn btn-sm btn-success' %>
<%= link_to 'Back', syllabuses_path %>
