<% provide :title, @grade_course.name %>
<% provide :card_title, t('activerecord.models.grade_course') %>
<% content_for :card_footer do %>
  <%= link_to edit_grade_course_path(@grade_course), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to grade_courses_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <%= t('activerecord.attributes.grade_course.syllabus_grade_id') %>
      :</strong>
    <%= @grade_course.syllabus_grade.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.grade_course.course_id') %>:</strong>
    <%= @grade_course.course.name %>
  </p>
<% end %>
