<p id="notice"><%= notice %></p>

<h1>Homework Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Student homework</th>
      <th>Mark</th>
      <th>Observations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homework_evaluations.each do |homework_evaluation| %>
      <tr>
        <td><%= homework_evaluation.student_homework.name %></td>
        <td><%= homework_evaluation.mark %></td>
        <td><%= homework_evaluation.observations %></td>
        <td><%= link_to 'Show', homework_evaluation %></td>
        <td><%= link_to 'Edit', edit_homework_evaluation_path(homework_evaluation) %></td>
        <td><%= link_to 'Destroy', homework_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homework Evaluation', new_homework_evaluation_path %>
