<% provide(:title, t('students')) %>

<% content_for :card_header do %>
  <%= will_paginate @students, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.student')),
              new_student_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @students, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/tables/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>User</th>
      <th>Enrollment</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.user.name %></td>
        <td><%= student.enrollment %></td>
        <td><%= link_to t('show'), student %></td>
        <td><%= link_to t('edit'), edit_student_path(student) %></td>
        <td><%= link_to t('destroy'), student, method: :delete, data: { confirm: t('you_sure') } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
