<% provide(:title, t('students')) %>

<% content_for :card_header do %>
  <%= will_paginate @students, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.student')),
              new_student_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @students, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.student.user_id') %></th>
      <th>
        <%= t('activerecord.attributes.student.enrollment') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.user.name %></td>
        <td><%= student.enrollment %></td>
        <td>
          <%= link_to t('show'), student, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_student_path(student), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), student, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
