<%= form_with(model: syllabus_grade, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :syllabus_id %>
    <%= form.collection_select :syllabus_id,Syllabus.all,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :grade_id %>
    <%= form.collection_select :grade_id, Grade.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
