<% provide :title, @course_homework.name %>
<% provide :card_title, t('activerecord.models.course_homework') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_course_homework_path(@course_homework), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), course_homeworks_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.course_homework.course_evaluation_id') %>:</strong>
    <%= @course_homework.course_evaluation.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course_homework.name') %>:</strong>
    <%= @course_homework.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course_homework.description') %>:</strong>
    <%= @course_homework.description %>
  </p>
<% end %>
