<p>
  <strong>Course evaluation:</strong>
  <%= @course_homework.course_evaluation.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course_homework.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_homework.description %>
</p>

<%= link_to t('edit'), edit_course_homework_path(@course_homework), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), course_homeworks_path, class: 'btn btn-sm btn-danger' %>
