<%= form_with(model: tutor, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.collection_select :student_id, Student.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.collection_select :parent_id, Parent.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :relationship_id %>
    <%= form.collection_select :relationship_id, Relationship.all,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
