<% provide(:title, t('tutors')) %>

<% content_for :card_header do %>
  <%= will_paginate @tutors, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.tutor')),
              new_tutor_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @tutors, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <% t('activerecord.attributes.tutor.student_id') %></th>
      <th>
        <% t('activerecord.attributes.tutor.parent_id') %></th>
      <th>
        <% t('activerecord.attributes.tutor.relationship_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.student.name %></td>
        <td><%= tutor.parent.name %></td>
        <td><%= tutor.relationship.name %></td>
        <td>
          <%= link_to t('show'), tutor, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_tutor_path(tutor), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), tutor, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
