<% provide :title, @tutor.name %>
<% provide :card_title, t('activerecord.models.tutor') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_tutor_path(@tutor), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), tutors_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <% t('activerecord.attributes.tutor.student_id') %>:</strong>
    <%= @tutor.student.name %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.tutor.parent_id') %>:</strong>
    <%= @tutor.parent.name %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.tutor.relationship_id') %>:</strong>
    <%= @tutor.relationship.name %>
  </p>
<% end %>
