<p>
  <strong>Student:</strong>
  <%= @tutor.student.name %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @tutor.parent.name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @tutor.relationship.name %>
</p>

<%= link_to t('edit'), edit_tutor_path(@tutor), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), tutors_path %>
