<% provide(:title, t('relationships')) %>

<% content_for :card_header do %>
  <%= will_paginate @relationships, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.relationship')),
              new_relationship_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @relationships, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.relationship.name') %></th>
      <th>
        <%= t('activerecord.attributes.relationship.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @relationships.each do |relationship| %>
      <tr>
        <td><%= relationship.name %></td>
        <td><%= relationship.status.name %></td>
        <td>
          <%= link_to t('show'), relationship, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_relationship_path(relationship), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), relationship, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
