<% provide :title, @relationship.name %>
<% provide :card_title, t('activerecord.models.relationship') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_relationship_path(@relationship), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), relationships_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <%= t('activerecord.attributes.relationship.name') %>:</strong>
    <%= @relationship.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.relationship.status_id') %>:</strong>
    <%= @relationship.status.name %>
  </p>
<% end %>
