<%= form_with(model: campus_evaluation, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :campus_id %>
    <%= form.collection_select :campus_id, Campus.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :turn_evaluation_id %>
    <%= form.collection_select :turn_evaluation_id, TurnEvaluation.all,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
