<%= form_with(model: campus_evaluation, local: true) do |form| %>
  <% if campus_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campus_evaluation.errors.count, "error") %> prohibited this campus_evaluation from being saved:</h2>

      <ul>
        <% campus_evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :campus_id %>
    <%= form.text_field :campus_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :turn_evaluation_id %>
    <%= form.text_field :turn_evaluation_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
