<table>
  <thead>
  <tr>
    <th>Campus</th>
    <th>Turn evaluation</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @campus_evaluations.each do |campus_evaluation| %>
    <tr>
      <td><%= campus_evaluation.campus.name %></td>
      <td><%= campus_evaluation.turn_evaluation.name %></td>
      <td><%= link_to t('show'), campus_evaluation %></td>
      <td><%= link_to t('edit'), edit_campus_evaluation_path(campus_evaluation) %></td>
      <td><%= link_to t('destroy'), campus_evaluation, method: :delete, data: { confirm: t('you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campus Evaluation', new_campus_evaluation_path %>
<%= will_paginate @campus_evaluations %>
