<% provide(:title, t('course_marks')) %>

<% content_for :card_header do %>
  <%= will_paginate @course_marks, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.course_mark')),
              new_course_mark_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @course_marks, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/tables/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Student course</th>
      <th>Mark</th>
      <th>Attendance</th>
      <th>Observations</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @course_marks.each do |course_mark| %>
      <tr>
        <td><%= course_mark.student_course.name %></td>
        <td><%= course_mark.mark %></td>
        <td><%= course_mark.attendance %></td>
        <td><%= course_mark.observations %></td>
        <td>
          <%= link_to t('show'), course_mark, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_course_mark_path(course_mark), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), course_mark, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
