<p>
  <strong>Student course:</strong>
  <%= @course_mark.student_course.name %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @course_mark.mark %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @course_mark.attendance %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @course_mark.observations %>
</p>

<%= link_to t('edit'), edit_course_mark_path(@course_mark), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), course_marks_path, class: 'btn btn-sm btn-danger' %>
