<% provide :title, @course_mark.name %>
<% provide :card_title, t('activerecord.models.course_mark') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_course_mark_path(@course_mark), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), course_marks_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.course_mark.student_course_id') %>
      :</strong>
    <%= @course_mark.student_course.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course_mark.mark') %>:</strong>
    <%= @course_mark.mark %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course_mark.attendance') %>:</strong>
    <%= @course_mark.attendance %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course_mark.observations') %>
      :</strong>
    <%= @course_mark.observations %>
  </p>
<% end %>
