<table>
  <thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Duration</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cycle_types.each do |cycle_type| %>
    <tr>
      <td><%= cycle_type.code %></td>
      <td><%= cycle_type.name %></td>
      <td><%= cycle_type.description %></td>
      <td><%= cycle_type.duration %></td>
      <td><%= cycle_type.status.name %></td>
      <td><%= link_to t('show'), cycle_type %></td>
      <td><%= link_to t('edit'), edit_cycle_type_path(cycle_type) %></td>
      <td><%= link_to t('destroy'), cycle_type, method: :delete, data: { confirm: t('you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cycle Type', new_cycle_type_path %>
<%= will_paginate @cycle_types %>
