<% provide(:title, t('cycle_types')) %>

<% content_for :card_header do %>
  <%= will_paginate @cycle_types, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.cycle_type')),
              new_cycle_type_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @cycle_types, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/tables/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @cycle_types.each do |cycle_type| %>
      <tr>
        <td><%= cycle_type.code %></td>
        <td><%= cycle_type.name %></td>
        <td><%= cycle_type.description %></td>
        <td><%= cycle_type.duration %></td>
        <td><%= cycle_type.status.name %></td>
        <td>
          <%= link_to t('show'), cycle_type, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_cycle_type_path(cycle_type), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), cycle_type, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
