<% provide(:title, t('cycle_types')) %>

<% content_for :card_header do %>
  <%= will_paginate @cycle_types, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_cycle_type_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %>
    <%= t('new_resource', resource: t('activerecord.models.cycle_type')) %>
  <% end %>
  <%= will_paginate @cycle_types, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.cycle_type.code') %></th>
      <th><%= t('activerecord.attributes.cycle_type.name') %></th>
      <th><%= t('activerecord.attributes.cycle_type.description') %></th>
      <th><%= t('activerecord.attributes.cycle_type.duration') %></th>
      <th><%= t('activerecord.attributes.cycle_type.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @cycle_types.each do |cycle_type| %>
      <tr>
        <td><%= cycle_type.code %></td>
        <td><%= cycle_type.name %></td>
        <td><%= cycle_type.description %></td>
        <td><%= cycle_type.duration %></td>
        <td><%= cycle_type.status.name %></td>
        <td>
          <%= link_to cycle_type, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_cycle_type_path(cycle_type), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to cycle_type, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
