<% provide(:title, t('careers')) %>

<% content_for :card_header do %>
  <%= will_paginate @careers, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.career')),
              new_career_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @careers, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.career.code') %></th>
      <th><%= t('activerecord.attributes.career.name') %></th>
      <th><%= t('activerecord.attributes.career.description') %></th>
      <th><%= t('activerecord.attributes.career.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @careers.each do |career| %>
      <tr>
        <td><%= career.code %></td>
        <td><%= career.name %></td>
        <td><%= career.description %></td>
        <td><%= career.status.name %></td>
        <td>
          <%= link_to t('show'), career, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_career_path(career), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), career, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
