<p>
  <strong>Code:</strong>
  <%= @career.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @career.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @career.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @career.status.name %>
</p>

<%= link_to t('edit'), edit_career_path(@career) %> |
<%= link_to t('back'), careers_path %>
