<%= form_with(model: course_evaluation, local: true) do |form| %>
  <% if course_evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_evaluation.errors.count, "error") %> prohibited this course_evaluation from being saved:</h2>

      <ul>
        <% course_evaluation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grade_course_id %>
    <%= form.text_field :grade_course_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :campus_evaluation_id %>
    <%= form.text_field :campus_evaluation_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.text_field :professor_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
