<%= form_with(model: course_evaluation, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :grade_course_id %>
    <%= form.collection_select :grade_course_id, GradeCourse.collection,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :campus_evaluation_id %>
    <%= form.collection_select :campus_evaluation_id,
                               CampusEvaluation.collection, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.collection_select :professor_id, Professor.collection,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.collection_select :group_id, Group.collection, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
