<p id="notice"><%= notice %></p>

<h1>Course Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Grade course</th>
      <th>Campus evaluation</th>
      <th>Professor</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_evaluations.each do |course_evaluation| %>
      <tr>
        <td><%= course_evaluation.grade_course_id %></td>
        <td><%= course_evaluation.campus_evaluation_id %></td>
        <td><%= course_evaluation.professor_id %></td>
        <td><%= course_evaluation.group_id %></td>
        <td><%= link_to 'Show', course_evaluation %></td>
        <td><%= link_to 'Edit', edit_course_evaluation_path(course_evaluation) %></td>
        <td><%= link_to 'Destroy', course_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Evaluation', new_course_evaluation_path %>
