<% provide(:title, t('course_evaluations')) %>

<% content_for :card_header do %>
  <%= will_paginate @course_evaluations, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.course_evaluation')),
              new_course_evaluation_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @course_evaluations, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Grade course</th>
      <th>Campus evaluation</th>
      <th>Professor</th>
      <th>Group</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @course_evaluations.each do |course_evaluation| %>
      <tr>
        <td><%= course_evaluation.grade_course.name %></td>
        <td><%= course_evaluation.campus_evaluation.name %></td>
        <td><%= course_evaluation.professor.name %></td>
        <td><%= course_evaluation.group.name %></td>
        <td>
          <%= link_to t('show'), course_evaluation, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_course_evaluation_path(course_evaluation), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), course_evaluation, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
