<p>
  <strong>Code:</strong>
  <%= @group.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @group.status.name %>
</p>

<%= link_to t('edit'), edit_group_path(@group), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), groups_path, class: 'btn btn-sm btn-danger' %>
