<% provide :title, @group.name %>
<% provide :card_title, t('activerecord.models.group') %>
<% content_for :card_footer do %>
  <%= link_to edit_group_path(@group), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to groups_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <%= t('activerecord.attributes.group.code') %>:</strong>
    <%= @group.code %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.group.name') %>:</strong>
    <%= @group.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.group.description') %>:</strong>
    <%= @group.description %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.group.status_id') %>:</strong>
    <%= @group.status.name %>
  </p>
<% end %>
