<% provide :title, @state.name %>
<% provide :card_title, t('activerecord.models.state') %>
<% content_for :card_footer do %>
  <%= link_to edit_state_path(@state), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to states_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.state.country_id') %>:</strong>
    <%= @state.country.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.state.name') %>:</strong>
    <%= @state.name %>
  </p>
<% end %>
