<% provide(:title, t('professor_courses')) %>

<% content_for :card_header do %>
  <%= will_paginate @professor_courses, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.professor_course')),
              new_professor_course_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @professor_courses, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Professor</th>
      <th>Course</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @professor_courses.each do |professor_course| %>
      <tr>
        <td><%= professor_course.professor.name %></td>
        <td><%= professor_course.course.name %></td>
        <td>
          <%= link_to t('show'), professor_course, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_professor_course_path(professor_course), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), professor_course, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
