<table>
  <thead>
  <tr>
    <th>Professor</th>
    <th>Course</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @professor_courses.each do |professor_course| %>
    <tr>
      <td><%= professor_course.professor.name %></td>
      <td><%= professor_course.course.name %></td>
      <td><%= link_to t('show'), professor_course %></td>
      <td><%= link_to t('edit'), edit_professor_course_path(professor_course) %></td>
      <td><%= link_to t('destroy'), professor_course, method: :delete, data: { confirm: t('you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor Course', new_professor_course_path %>
<%= will_paginate @professor_courses %>
