<% provide(:title, t('student_homeworks')) %>

<% content_for :card_header do %>
  <%= will_paginate @student_homeworks, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.student_homework')),
              new_student_homework_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @student_homeworks, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/tables/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Student</th>
      <th>Course homework</th>
      <th>Observations</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @student_homeworks.each do |student_homework| %>
      <tr>
        <td><%= student_homework.student.name %></td>
        <td><%= student_homework.course_homework.name %></td>
        <td><%= student_homework.observations %></td>
        <td>
          <%= link_to t('show'), student_homework, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_student_homework_path(student_homework), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), student_homework, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
