<p>
  <strong>Student:</strong>
  <%= @student_homework.student.name %>
</p>

<p>
  <strong>Course homework:</strong>
  <%= @student_homework.course_homework.name %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @student_homework.observations %>
</p>

<%= link_to 'Edit', edit_student_homework_path(@student_homework) %> |
<%= link_to 'Back', student_homeworks_path %>
