<p>
  <strong>Student:</strong>
  <%= @student_homework.student.name %>
</p>

<p>
  <strong>Course homework:</strong>
  <%= @student_homework.course_homework.name %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @student_homework.observations %>
</p>

<%= link_to t('edit'), edit_student_homework_path(@student_homework), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), student_homeworks_path, class: 'btn btn-sm btn-danger' %>
