<% provide(:title, full_name(@academic_year)) %>

<p>
  <strong><%= t('activerecord.attributes.academic_year.start') %>:</strong>
  <%= @academic_year.start %>
</p>

<p>
  <strong><%= t('activerecord.attributes.academic_year.finish') %>:</strong>
  <%= @academic_year.finish %>
</p>

<p>
  <strong><%= t('activerecord.attributes.academic_year.campu_id') %>:</strong>
  <%= @academic_year.campu.name %>
</p>

<%= link_to t('edit'), edit_academic_year_path(@academic_year) %> |
<%= link_to t('back'), academic_years_path %>
