<% provide(:title, t('turns')) %>

<% content_for :card_header do %>
  <%= will_paginate @turns, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_turn_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %>
    <%= t('new_resource', resource: t('activerecord.models.turn')) %>
  <% end %>
  <%= will_paginate @turns, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.turn.code') %></th>
      <th>
        <%= t('activerecord.attributes.turn.name') %></th>
      <th>
        <%= t('activerecord.attributes.turn.description') %></th>
      <th>
        <%= t('activerecord.attributes.turn.start') %></th>
      <th>
        <%= t('activerecord.attributes.turn.finish') %></th>
      <th>
        <%= t('activerecord.attributes.turn.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.code %></td>
        <td><%= turn.name %></td>
        <td><%= turn.description %></td>
        <td><%= turn.start %></td>
        <td><%= turn.finish %></td>
        <td><%= turn.status.name %></td>
        <td>
          <%= link_to turn, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_turn_path(turn), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to turn, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
