<% provide(:title, t('turns')) %>

<% content_for :card_header do %>
  <%= will_paginate @turns, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.turn')),
              new_turn_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @turns, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/tables/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.code %></td>
        <td><%= turn.name %></td>
        <td><%= turn.description %></td>
        <td><%= turn.start %></td>
        <td><%= turn.finish %></td>
        <td><%= turn.status.name %></td>
        <td><%= link_to t('show'), turn %></td>
        <td><%= link_to t('edit'), edit_turn_path(turn) %></td>
        <td><%= link_to t('destroy'), turn, method: :delete, data: { confirm: t('you_sure') } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
