<p>
  <strong>Code:</strong>
  <%= @turn.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @turn.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @turn.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @turn.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @turn.finish %>
</p>

<p>
  <strong>Status:</strong>
  <%= @turn.status.name %>
</p>

<%= link_to t('edit'), edit_turn_path(@turn) %> |
<%= link_to t('back'), turns_path %>
