<% provide :title, @turn.name %>
<% provide :card_title, t('activerecord.models.turn') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_turn_path(@turn), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), turns_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>Code:</strong>
    <%= @turn.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @turn.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @turn.description %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= @turn.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= @turn.finish %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @turn.status.name %>
  </p>
<% end %>
