<% provide :title, @turn.name %>
<% provide :card_title, t('activerecord.models.turn') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_turn_path(@turn), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), turns_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <% t('activerecord.attributes.turn.code') %>:</strong>
    <%= @turn.code %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.turn.name') %>:</strong>
    <%= @turn.name %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.turn.description') %>:</strong>
    <%= @turn.description %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.turn.start') %>:</strong>
    <%= @turn.start %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.turn.finish') %>:</strong>
    <%= @turn.finish %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.turn.status_id') %>:</strong>
    <%= @turn.status.name %>
  </p>
<% end %>
