<%= form_with(model: academic_cycle, local: true) do |form| %>
  <% if academic_cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(academic_cycle.errors.count, "error") %> prohibited this academic_cycle from being saved:</h2>

      <ul>
        <% academic_cycle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :cycle_type_id %>
    <%= form.text_field :cycle_type_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.text_field :status_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.date_select :start, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :finish %>
    <%= form.date_select :finish, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'form-control' %>
  </div>
<% end %>
