<% provide(:title, t('educative_levels')) %>

<% content_for :card_header do %>
  <%= will_paginate @educative_levels, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.educative_level')),
              new_educative_level_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @educative_levels, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.educative_level.code') %></th>
      <th><%= t('activerecord.attributes.educative_level.name') %></th>
      <th><%= t('activerecord.attributes.educative_level.description') %></th>
      <th><%= t('activerecord.attributes.educative_level.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @educative_levels.each do |educative_level| %>
      <tr>
        <td><%= educative_level.code %></td>
        <td><%= educative_level.name %></td>
        <td><%= educative_level.description %></td>
        <td><%= educative_level.status.name %></td>
        <td>
          <%= link_to t('show'), educative_level, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_educative_level_path(educative_level), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), educative_level, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
