<% provide :title, @educative_level.name %>
<% provide :card_title, t('activerecord.models.educative_level') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_educative_level_path(@educative_level), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), educative_levels_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.educative_level.code') %>:</strong>
    <%= @educative_level.code %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.educative_level.name') %>:</strong>
    <%= @educative_level.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.educative_level.description') %>
      :</strong>
    <%= @educative_level.description %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.educative_level.status_id') %>
      :</strong>
    <%= @educative_level.status.name %>
  </p>
<% end %>
