<p>
  <strong>Code:</strong>
  <%= @educative_level.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @educative_level.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @educative_level.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @educative_level.status.name %>
</p>

<%= link_to t('edit'), edit_educative_level_path(@educative_level), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), educative_levels_path, class: 'btn btn-sm btn-danger' %>
