<% provide(:title, t('student_courses')) %>

<% content_for :card_header do %>
  <%= will_paginate @student_courses, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.student_course')),
              new_student_course_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @student_courses, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <% t('activerecord.attributes.student_course.student_id') %></th>
      <th>
        <% t('activerecord.attributes.student_course.course_evaluation_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @student_courses.each do |student_course| %>
      <tr>
        <td><%= student_course.student.name %></td>
        <td><%= student_course.course_evaluation.name %></td>
        <td>
          <%= link_to t('show'), student_course, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_student_course_path(student_course), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), student_course, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
