<% provide :title, @student_course.name %>
<% provide :card_title, t('activerecord.models.student_course') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_student_course_path(@student_course), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), student_courses_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <%= t('activerecord.attributes.student_course.student_id') %>:</strong>
    <%= @student_course.student.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.student_course.course_evaluation_id') %>
      :</strong>
    <%= @student_course.course_evaluation.name %>
  </p>
<% end %>
