<% provide(:title, t('modalities')) %>

<% content_for :card_header do %>
  <%= will_paginate @modalities, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_modality_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %>
    <%= t('new_resource', resource: t('activerecord.models.modality')) %>
  <% end %>
  <%= will_paginate @modalities, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.modality.code') %></th>
      <th>
        <%= t('activerecord.attributes.modality.name') %></th>
      <th>
        <%= t('activerecord.attributes.modality.description') %></th>
      <th>
        <%= t('activerecord.attributes.modality.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @modalities.each do |modality| %>
      <tr>
        <td><%= modality.code %></td>
        <td><%= modality.name %></td>
        <td><%= modality.description %></td>
        <td><%= modality.status.name %></td>
        <td>
          <%= link_to modality, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_modality_path(modality), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to modality, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
