<% provide :title, @modality.name %>
<% provide :card_title, t('activerecord.models.modality') %>
<% content_for :card_footer do %>
  <%= link_to edit_modality_path(@modality), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to modalities_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <%= t('activerecord.attributes.modality.code') %>:</strong>
    <%= @modality.code %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.modality.name') %>:</strong>
    <%= @modality.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.modality.description') %>:</strong>
    <%= @modality.description %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.modality.status_id') %>:</strong>
    <%= @modality.status.name %>
  </p>
<% end %>
