<%= form_with(model: cycle_turn, local: true) do |form| %>
  <% if cycle_turn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cycle_turn.errors.count, "error") %> prohibited this cycle_turn from being saved:</h2>

      <ul>
        <% cycle_turn.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cycle_modality_id %>
    <%= form.text_field :cycle_modality_id %>
  </div>

  <div class="field">
    <%= form.label :turn_id %>
    <%= form.text_field :turn_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
