<%= form_with(model: cycle_turn, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :cycle_modality_id %>
    <%= form.collection_select :cycle_modality_id, CycleModality.all,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :turn_id %>
    <%= form.collection_select :turn_id, Turn.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
