<% provide(:title, t('cycle_turns')) %>

<% content_for :card_header do %>
  <%= will_paginate @cycle_turns, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.cycle_turn')),
              new_cycle_turn_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @cycle_turns, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.cycle_turn.cycle_modality_id') %></th>
      <th><%= t('activerecord.attributes.cycle_turn.turn_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @cycle_turns.each do |cycle_turn| %>
      <tr>
        <td><%= cycle_turn.cycle_modality.name %></td>
        <td><%= cycle_turn.turn.name %></td>
        <td>
          <%= link_to t('show'), cycle_turn, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_cycle_turn_path(cycle_turn), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), cycle_turn, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
