<p id="notice"><%= notice %></p>

<p>
  <strong>Cycle modality:</strong>
  <%= @cycle_turn.cycle_modality_id %>
</p>

<p>
  <strong>Turn:</strong>
  <%= @cycle_turn.turn_id %>
</p>

<%= link_to 'Edit', edit_cycle_turn_path(@cycle_turn) %> |
<%= link_to 'Back', cycle_turns_path %>
