<% provide(:title, t('career_syllabuses')) %>

<% content_for :card_header do %>
  <%= will_paginate @attendance_types, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.career_syllabus')),
              new_career_syllabus_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @attendance_types, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/tables/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Level career</th>
      <th>Syllabus</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @career_syllabuses.each do |career_syllabus| %>
      <tr>
        <td><%= career_syllabus.level_career.name %></td>
        <td><%= career_syllabus.syllabus.name %></td>
        <td><%= link_to t('show'), career_syllabus %></td>
        <td><%= link_to t('edit'), edit_career_syllabus_path(career_syllabus) %></td>
        <td><%= link_to t('destroy'), career_syllabus, method: :delete, data: { confirm: t('you_sure') } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
