<table>
  <thead>
  <tr>
    <th>Level career</th>
    <th>Syllabus</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @career_syllabuses.each do |career_syllabus| %>
    <tr>
      <td><%= career_syllabus.level_career.name %></td>
      <td><%= career_syllabus.syllabus.name %></td>
      <td><%= link_to t('show'), career_syllabus %></td>
      <td><%= link_to t('edit'), edit_career_syllabus_path(career_syllabus) %></td>
      <td><%= link_to t('destroy'), career_syllabus, method: :delete, data: { confirm: t('you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Career Syllabus', new_career_syllabus_path %>
<%= will_paginate @career_syllabuses %>
