<% provide :title, @career_syllabus.name %>
<% provide :card_title, t('activerecord.models.career_syllabus') %>
<% content_for :card_footer do %>
  <%= link_to edit_career_syllabus_path(@career_syllabus), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to career_syllabuses_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.career_syllabus.level_career_id') %>
      :</strong>
    <%= @career_syllabus.level_career.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.career_syllabus.syllabus_id') %>
      :</strong>
    <%= @career_syllabus.syllabus.name %>
  </p>
<% end %>
