<%= form_with(model: professor, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :enrollment %>
    <%= form.text_field :enrollment, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
