<% provide(:title, t('professors')) %>

<% content_for :card_header do %>
  <%= will_paginate @professors, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.professor')),
              new_professor_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @professors, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.professor.user_id') %></th>
      <th>
        <%= t('activerecord.attributes.professor.enrollment') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.user.name %></td>
        <td><%= professor.enrollment %></td>
        <td>
          <%= link_to t('show'), professor, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_professor_path(professor), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), professor, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
