<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Enrollment</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @professors.each do |professor| %>
    <tr>
      <td><%= professor.user.name %></td>
      <td><%= professor.enrollment %></td>
      <td><%= link_to t('show'), professor %></td>
      <td><%= link_to t('edit'), edit_professor_path(professor) %></td>
      <td><%= link_to t('destroy'), professor, method: :delete, data: { confirm: t('you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professor', new_professor_path %>
<%= will_paginate @professors %>
