<% provide :title, @professor.name %>
<% provide :card_title, t('activerecord.models.professor') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_professor_path(@professor), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), professors_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <% t('activerecord.attributes.professor.user_id') %>:</strong>
    <%= @professor.user.name %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.professor.enrollment') %>:</strong>
    <%= @professor.enrollment %>
  </p>
<% end %>
