<p>
  <strong>Code:</strong>
  <%= @building.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @building.description %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @building.campus.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @building.status.name %>
</p>

<%= link_to t('edit'), edit_building_path(@building), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), buildings_path, class: 'btn btn-sm btn-danger' %>
