<% provide :title, @building.name %>
<% provide :card_title, t('activerecord.models.building') %>
<% content_for :card_footer do %>
  <%= link_to edit_building_path(@building), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to buildings_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.building.code') %>:</strong>
    <%= @building.code %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.building.description') %>:</strong>
    <%= @building.description %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.building.campus_id') %>:</strong>
    <%= @building.campus.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.building.status_id') %>:</strong>
    <%= @building.status.name %>
  </p>
<% end %>
