<div class="row">
  <div class="col-lg-3">
    <div class="small-box bg-gradient-info">
      <div class="inner">
        <h3><%= ProfessorCourse.count %></h3>
        <p><%= t('professor_courses') %></p>
      </div>
      <div class="icon">
        <%= icon('fas', 'book-reader') %>
      </div>
      <%= link_to professor_courses_path, class: 'small-box-footer' do %>
        <%= t('more_info') %> <%= icon('fas', 'arrow-circle-right') %>
      <% end %>
    </div>
  </div>
</div>
