<div class="row">
  <div class="col-lg-3">
    <div class="small-box bg-gradient-info">
      <div class="inner">
        <h3><%= current_user.student.student_courses.count %></h3>
        <p><%= t('student_courses') %></p>
      </div>
      <div class="icon">
        <%= icon('fas', 'school') %>
      </div>
      <%= link_to student_courses_path, class: 'small-box-footer' do %>
        <%= t('more_info') %> <%= icon('fas', 'arrow-circle-right') %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="small-box bg-gradient-info">
      <div class="inner">
        <h3><%= current_user.student.student_homeworks.count %></h3>
        <p><%= t('student_homeworks') %></p>
      </div>
      <div class="icon">
        <%= icon('fas', 'building') %>
      </div>
      <%= link_to student_homeworks_path, class: 'small-box-footer' do %>
        <%= t('more_info') %> <%= icon('fas', 'arrow-circle-right') %>
      <% end %>
    </div>
  </div>
</div>
