<div class="row">
  <div class="col-lg-3">
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= t('courses') %></h3>
        <p><%= t('my_courses') %></p>
      </div>
      <div class="icon">
        <%= icon('fas', 'chalkboard-teacher') %>
      </div>
      <%= link_to '#', class: 'small-box-footer' do %>
        <%= t('more_info') %> <%= icon('fas', 'arrow-circle-right') %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= t('courses') %></h3>
        <p><%= t('my_courses') %></p>
      </div>
      <div class="icon">
        <%= icon('fas', 'chalkboard-teacher') %>
      </div>
      <%= link_to '#', class: 'small-box-footer' do %>
        <%= t('more_info') %> <%= icon('fas', 'arrow-circle-right') %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= t('courses') %></h3>
        <p><%= t('my_courses') %></p>
      </div>
      <div class="icon">
        <%= icon('fas', 'chalkboard-teacher') %>
      </div>
      <%= link_to '#', class: 'small-box-footer' do %>
        <%= t('more_info') %> <%= icon('fas', 'arrow-circle-right') %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= t('courses') %></h3>
        <p><%= t('my_courses') %></p>
      </div>
      <div class="icon">
        <%= icon('fas', 'chalkboard-teacher') %>
      </div>
      <%= link_to '#', class: 'small-box-footer' do %>
        <%= t('more_info') %> <%= icon('fas', 'arrow-circle-right') %>
      <% end %>
    </div>
  </div>
</div>
