<%= form_with(model: evaluation_period, local: true) do |form| %>
  <% if evaluation_period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation_period.errors.count, "error") %> prohibited
        this evaluation_period from being saved:</h2>

      <ul>
        <% evaluation_period.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :status_id %>
    <%= form.collection_select :status_id, Status.all, :id, :name,
                               class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
