<table>
  <thead>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @evaluation_periods.each do |evaluation_period| %>
    <tr>
      <td><%= evaluation_period.code %></td>
      <td><%= evaluation_period.name %></td>
      <td><%= evaluation_period.description %></td>
      <td><%= evaluation_period.status.name %></td>
      <td><%= link_to t('show'), evaluation_period %></td>
      <td><%= link_to t('edit'), edit_evaluation_period_path(evaluation_period) %></td>
      <td><%= link_to t('destroy'), evaluation_period, method: :delete, data: { confirm: t('you_sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation Period', new_evaluation_period_path %>
<%= will_paginate @evaluation_periods %>
