<p>
  <strong>Code:</strong>
  <%= @evaluation_period.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @evaluation_period.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @evaluation_period.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @evaluation_period.status.name %>
</p>

<%= link_to t('edit'), edit_evaluation_period_path(@evaluation_period) %> |
<%= link_to t('back'), evaluation_periods_path %>
