<% provide(:title, @school.name) %>

<p>
  <strong><%= t('activerecord.attributes.school.name') %>:</strong>
  <%= @school.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.school.code') %>:</strong>
  <%= @school.code %>
</p>

<p>
  <strong><%= t('activerecord.attributes.school.country_id') %>:</strong>
  <%= @school.country.name %>
</p>

<%= link_to t('edit'), edit_school_path(@school) %> |
<%= link_to t('back'), schools_path %>
