<% provide(:title, t('campuses')) %>

<% content_for :card_header do %>
  <%= will_paginate @campuses, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_attendance_type_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %> <%= t('new_resource', resource: t('activerecord.models.campus')) %>
  <% end %>
  <%= will_paginate @campuses, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.campus.code') %></th>
      <th><%= t('activerecord.attributes.campus.name') %></th>
      <th><%= t('activerecord.attributes.campus.description') %></th>
      <th><%= t('activerecord.attributes.campus.institution_id') %></th>
      <th><%= t('activerecord.attributes.campus.status_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @campuses.each do |campus| %>
      <tr>
        <td><%= campus.code %></td>
        <td><%= campus.name %></td>
        <td><%= campus.description %></td>
        <td><%= campus.institution.name %></td>
        <td><%= campus.status.name %></td>
        <td>
          <%= link_to campus, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_campus_path(campus), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to campus, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
