<% provide :title, @campus.name %>
<% provide :card_title, t('activerecord.models.campus') %>
<% content_for :card_footer do %>
  <%= link_to edit_campus_path(@campus), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to campuses_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.campus.code') %>:</strong>
    <%= @campus.code %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.campus.name') %>:</strong>
    <%= @campus.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.campus.description') %>:</strong>
    <%= @campus.description %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.campus.institution_id') %>:</strong>
    <%= @campus.institution.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.campus.status_id') %>:</strong>
    <%= @campus.status.name %>
  </p>
<% end %>
