<p>
  <strong>Code:</strong>
  <%= @campus.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campus.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campus.description %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @campus.institution.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @campus.status.name %>
</p>

<%= link_to t('edit'), edit_campus_path(@campus), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), campuses_path, class: 'btn btn-sm btn-danger' %>
