<% provide(:title, t('courses')) %>

<% content_for :card_header do %>
  <%= will_paginate @courses, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.course')),
              new_course_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @courses, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/tables/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Credits</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.code %></td>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.credits %></td>
        <td><%= course.status.name %></td>
        <td>
          <%= link_to t('show'), course, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_course_path(course), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), course, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
