<% provide :title, @course.name %>
<% provide :card_title, t('activerecord.models.course') %>
<% content_for :card_footer do %>
  <%= link_to edit_course_path(@course), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to courses_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong><%= t('activerecord.attributes.course.code') %>:</strong>
    <%= @course.code %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course.name') %>:</strong>
    <%= @course.name %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course.description') %>:</strong>
    <%= @course.description %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course.credits') %>:</strong>
    <%= @course.credits %>
  </p>

  <p>
    <strong><%= t('activerecord.attributes.course.status_id') %>:</strong>
    <%= @course.status.name %>
  </p>
<% end %>
