<%= form_with(model: cycle_modality, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :academic_cycle_id %>
    <%= form.collection_select :academic_cycle_id, AcademicCycle.all,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :modality_id %>
    <%= form.collection_select :modality_id, Modality.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
