<% provide(:title, t('cycle_modalities')) %>

<% content_for :card_header do %>
  <%= will_paginate @cycle_modalities, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.cycle_modality')),
              new_cycle_modality_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @cycle_modalities, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Academic cycle</th>
      <th>Modality</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @cycle_modalities.each do |cycle_modality| %>
      <tr>
        <td><%= cycle_modality.academic_cycle.name %></td>
        <td><%= cycle_modality.modality.name %></td>
        <td>
          <%= link_to t('show'), cycle_modality, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_cycle_modality_path(cycle_modality), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), cycle_modality, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
