<table>
  <thead>
  <tr>
    <th>Academic cycle</th>
    <th>Modality</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cycle_modalities.each do |cycle_modality| %>
    <tr>
      <td><%= cycle_modality.academic_cycle.name %></td>
      <td><%= cycle_modality.modality.name %></td>
      <td><%= link_to 'Show', cycle_modality %></td>
      <td><%= link_to 'Edit', edit_cycle_modality_path(cycle_modality) %></td>
      <td><%= link_to 'Destroy', cycle_modality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cycle Modality', new_cycle_modality_path %>
<%= will_paginate @cycle_modalities %>
