<%= form_with(model: country, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :iso_code %>
    <%= form.text_field :iso_code, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :calling_code %>
    <%= form.text_field :calling_code, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
