<% provide(:title, @country.name) %>

<p>
  <strong><%= t('activerecord.attributes.country.name') %>:</strong>
  <%= @country.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.country.iso_code') %>:</strong>
  <%= @country.iso_code %>
</p>

<p>
  <strong><%= t('activerecord.attributes.country.calling_code') %>:</strong>
  <%= @country.calling_code %>
</p>

<%= link_to t('edit'), edit_country_path(@country), class: 'btn btn-sm btn-success' %>
<%= link_to t('back'), countries_path %>
