<%= form_with(model: turn_evaluation, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :cycle_turn_id %>
    <%= form.collection_select :cycle_turn_id, CycleTurn.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :evaluation_period_id %>
    <%= form.collection_select :evaluation_period_id, EvaluationPeriod.all,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
