<% provide(:title, t('turn_evaluations')) %>

<% content_for :card_header do %>
  <%= will_paginate @turn_evaluations, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.turn_evaluation')),
              new_turn_evaluation_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @turn_evaluations, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <% t('activerecord.attributes.turn_evaluation.cycle_turn_id') %></th>
      <th>
        <% t('activerecord.attributes.turn_evaluation.evaluation_period_id') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @turn_evaluations.each do |turn_evaluation| %>
      <tr>
        <td><%= turn_evaluation.cycle_turn.name %></td>
        <td><%= turn_evaluation.evaluation_period.name %></td>
        <td>
          <%= link_to t('show'), turn_evaluation, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_turn_evaluation_path(turn_evaluation), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), turn_evaluation, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
