<p id="notice"><%= notice %></p>

<p>
  <strong>Cycle turn:</strong>
  <%= @turn_evaluation.cycle_turn_id %>
</p>

<p>
  <strong>Evaluation period:</strong>
  <%= @turn_evaluation.evaluation_period_id %>
</p>

<%= link_to 'Edit', edit_turn_evaluation_path(@turn_evaluation) %> |
<%= link_to 'Back', turn_evaluations_path %>
