<%= form_with(model: institution_address, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :institution_id %>
    <%= form.collection_select :institution_id, Institution.all, :id, :name, {},
                               class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.collection_select :address_id, Address.all, :id, :street, {},
                               class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
