<% provide(:title, t('institution_addresses')) %>

<% content_for :card_header do %>
  <%= will_paginate @institution_addresses, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_institution_address_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %>
    <%= t('new_resource', resource: t('activerecord.models.institution_address')) %>
  <% end %>
  <%= will_paginate @institution_addresses, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.institution_address.institution_id') %></th>
      <th><%= t('activerecord.attributes.institution_address.address_id') %></th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @institution_addresses.each do |institution_address| %>
      <tr>
        <td><%= institution_address.institution.name %></td>
        <td><%= institution_address.address.street %></td>
        <td>
          <%= link_to institution_address, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_institution_address_path(institution_address), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to institution_address, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
