<%= form_with(model: homework_mark, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :student_homework_id %>
    <%= form.collection_select :student_homework_id, StudentHomework.all,
                               :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :mark %>
    <%= form.text_field :mark, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :observations %>
    <%= form.text_area :observations, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
