<% provide(:title, t('homework_marks')) %>

<% content_for :card_header do %>
  <%= will_paginate @homework_marks, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to new_homework_mark_path, class: 'btn btn-sm btn-primary' do %>
    <%= icon('fas', 'plus-circle') %>
    <%= t('new_resource', resource: t('activerecord.models.homework_mark')) %>
  <% end %>
  <%= will_paginate @homework_marks, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/cards/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.homework_mark.student_homework_id') %></th>
      <th>
        <%= t('activerecord.attributes.homework_mark.mark') %></th>
      <th>
        <%= t('activerecord.attributes.homework_mark.observations') %></th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @homework_marks.each do |homework_mark| %>
      <tr>
        <td><%= homework_mark.student_homework.name %></td>
        <td><%= homework_mark.mark %></td>
        <td><%= homework_mark.observations %></td>
        <td>
          <%= link_to homework_mark, class: 'btn btn-sm btn-info' do %>
            <%= icon('fas', 'eye') %> <%= t('show') %>
          <% end %>
          <%= link_to edit_homework_mark_path(homework_mark), class: 'btn btn-sm btn-success' do %>
            <%= icon('fas', 'edit') %> <%= t('edit') %>
          <% end %>
          <%= link_to homework_mark, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' do %>
            <%= icon('fas', 'trash-alt') %> <%= t('destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
