<% provide(:title, t('homework_marks')) %>

<% content_for :card_header do %>
  <%= will_paginate @homework_marks, class: 'pagination-sm float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<% content_for :card_footer do %>
  <%= link_to t('new_resource', resource: t('activerecord.models.homework_mark')),
              new_homework_mark_path, class: 'btn btn-sm btn-primary' %>
  <%= will_paginate @homework_marks, class: 'pagination-sm m-0 float-right',
                    :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
<% end %>

<%= render 'shared/tables/index_card' do %>
  <table class="table table-hover table-head-fixed text-nowrap">
    <thead>
    <tr>
      <th>Student homework</th>
      <th>Mark</th>
      <th>Observations</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @homework_marks.each do |homework_mark| %>
      <tr>
        <td><%= homework_mark.student_homework.name %></td>
        <td><%= homework_mark.mark %></td>
        <td><%= homework_mark.observations %></td>
        <td>
          <%= link_to t('show'), homework_mark, class: 'btn btn-sm btn-info' %>
          <%= link_to t('edit'), edit_homework_mark_path(homework_mark), class: 'btn btn-sm btn-success' %>
          <%= link_to t('destroy'), homework_mark, method: :delete, data: { confirm: t('you_sure') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
