<% provide :title, @homework_mark.name %>
<% provide :card_title, t('activerecord.models.homework_mark') %>
<% content_for :card_footer do %>
  <%= link_to t('edit'), edit_homework_mark_path(@homework_mark), class: 'btn btn-sm btn-success' %>
  <%= link_to t('back'), homework_marks_path, class: 'btn btn-sm btn-danger' %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <% t('activerecord.attributes.homework_mark.student_homework_id') %>
      :</strong>
    <%= @homework_mark.student_homework_id %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.homework_mark.mark') %>:</strong>
    <%= @homework_mark.mark %>
  </p>

  <p>
    <strong>
      <% t('activerecord.attributes.homework_mark.observations') %>:</strong>
    <%= @homework_mark.observations %>
  </p>
<% end %>
