<%= form_with(model: evaluation_attendance, local: true) do |form| %>
  <% if evaluation_attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation_attendance.errors.count, "error") %> prohibited this evaluation_attendance from being saved:</h2>

      <ul>
        <% evaluation_attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :course_evaluation_id %>
    <%= form.text_field :course_evaluation_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :attendance_type_id %>
    <%= form.text_field :attendance_type_id, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary form-control' %>
  </div>
<% end %>
