<% provide :title, @evaluation_attendance.name %>
<% provide :card_title, t('activerecord.models.evaluation_attendance') %>
<% content_for :card_footer do %>
  <%= link_to edit_evaluation_attendance_path(@evaluation_attendance), class: 'btn btn-sm btn-success' do %>
    <%= icon('fas', 'edit') %> <%= t('edit') %>
  <% end %>
  <%= link_to evaluation_attendances_path, class: 'btn btn-sm btn-danger' do %>
    <%= icon('fas', 'undo-alt') %> <%= t('back') %>
  <% end %>
<% end %>

<%= render 'shared/cards/show' do %>
  <p>
    <strong>
      <%= t('activerecord.attributes.evaluation_attendance.student_course_id') %>
      :</strong>
    <%= @evaluation_attendance.student_course.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.evaluation_attendance.attendance_type_id') %>
      :</strong>
    <%= @evaluation_attendance.attendance_type.name %>
  </p>

  <p>
    <strong>
      <%= t('activerecord.attributes.evaluation_attendance.date') %>:</strong>
    <%= @evaluation_attendance.date %>
  </p>
<% end %>
