<nav id="sidebar">
  <div class="sidebar-header"></div>

  <ul class="list-unstyled components">
    <li>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle"><%= icon('fas', 'home') %><%= t('main') %></a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><%= link_to t('home'), root_path %></li>
        <li><%= link_to t('help'), help_path %></li>
        <li><%= link_to t('about'), about_path %></li>
        <li><%= link_to t('contact'), contact_path %></li>
      </ul>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse"
         aria-expanded="false" class="dropdown-toggle">
        <%= icon('fas', 'book') %><%= t('catalogs') %></a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <%= link_to countries_path do %>
            <%= icon('fas', 'globe') %><%= t('countries') %>
          <% end %>
        </li>
        <li>
          <%= link_to schools_path do %>
            <%= icon('fas', 'school') %><%= t('schools') %>
          <% end %>
        </li>
        <li>
          <%= link_to campus_path do %>
            <%= icon('fas', 'building') %><%= t('campus') %>
          <% end %>
        </li>
        <li>
          <%= link_to academic_years_path do %>
            <%= icon('fas', 'calendar') %><%= t('academic_years') %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</nav>
