<!-- Sidebar section -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to root_path, class: 'brand-link' do %>
    <%= image_tag 'AdminLTELogo.png', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light"><%= t('app_name') %></span>
  <% end %>
  <!-- Sidebar -->
  <% if user_signed_in? %>
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <%= image_tag current_user.avatar,
                        class: 'img-circle elevation-2',
                        alt: 'User Image' if current_user.avatar.attached? %>
        </div>
        <div class="info">
          <%= link_to current_user.name, '#', class: 'd-block' %>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent"
            data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header"><%= t('menu') %></li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('catalogs') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to statuses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('statuses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to countries_path, class: 'nav-link' do %>
                  <%= icon('fas', 'globe', class: 'nav-icon') %><%= t('countries') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to institutions_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('institutions') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to campuses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('campuses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to buildings_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('buildings') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to classrooms_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('classrooms') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to currencies_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('currencies') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('educative_levels') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to educative_levels_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('educative_levels') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to careers_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('careers') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to syllabuses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('syllabuses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to grades_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('grades') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to courses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('courses') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('academic_cycles') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to cycle_types_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('cycle_types') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to academic_cycles_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('academic_cycles') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to modalities_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('modalities') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to turns_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('turns') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to evaluation_periods_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('evaluation_periods') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('groups') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to cycle_modalities_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('cycle_modalities') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to cycle_turns_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('cycle_turns') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to turn_evaluations_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('turn_evaluations') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to campus_evaluations_url, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('campus_evaluations') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to groups_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('groups') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('grade_courses') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to level_careers_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('level_careers') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to career_syllabuses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('career_syllabuses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to syllabus_grades_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('syllabus_grades') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to grade_courses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('grade_courses') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('users') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to students_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('students') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to professors_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('professors') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to professor_courses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('professor_courses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to parents_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('parents') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to relationships_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('relationships') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to tutors_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('tutors') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('course_evaluations') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to course_evaluations_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('course_evaluations') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to student_courses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('student_courses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to course_marks_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('course_marks') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to course_homeworks_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('course_homeworks') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to student_homeworks_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('student_homeworks') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to homework_marks_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('homework_marks') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to attendance_types_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('attendance_types') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to evaluation_attendances_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('evaluation_attendances') %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
  <% end %>
  <!-- /.sidebar -->
</aside>
