<!-- Sidebar section -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-no-expand">
  <!-- Brand Logo -->
  <%= render 'layouts/sidebar/brand_logo' %>
  <!-- Sidebar -->
  <% if user_signed_in? %>
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <%= render 'layouts/sidebar/user_panel' if current_user %>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent"
            data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do %>
              <%= icon('fas', 'tachometer-alt', class: 'nav-icon') %><%= t('dashboard') %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to channels_path, class: 'nav-link' do %>
              <%= icon('fas', 'comments', class: 'nav-icon') %><%= t('channels') %>
            <% end %>
          </li>
          <li class="nav-header"><%= t('menu') %></li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('catalogs') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to statuses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('statuses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to institutions_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('institutions') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to campuses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('campuses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to buildings_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('buildings') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to classrooms_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('classrooms') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to currencies_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('currencies') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('educative_levels') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to educative_levels_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('educative_levels') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to careers_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('careers') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to syllabuses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('syllabuses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to grades_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('grades') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to courses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('courses') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('academic_cycles') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to cycle_types_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('cycle_types') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to academic_cycles_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('academic_cycles') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to modalities_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('modalities') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to turns_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('turns') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to evaluation_periods_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('evaluation_periods') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('groups') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to cycle_modalities_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('cycle_modalities') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to cycle_turns_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('cycle_turns') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to turn_evaluations_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('turn_evaluations') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to campus_evaluations_url, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('campus_evaluations') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to groups_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('groups') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('grade_courses') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to syllabus_grades_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('syllabus_grades') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to grade_courses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('grade_courses') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('users') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to students_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('students') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to professors_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('professors') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to professor_courses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('professor_courses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to parents_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('parents') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to relationships_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('relationships') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to tutors_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('tutors') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('evaluations') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to course_evaluations_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('course_evaluations') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to student_courses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('student_courses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to course_marks_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('course_marks') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to course_homeworks_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('course_homeworks') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to student_homeworks_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('student_homeworks') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to homework_marks_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('homework_marks') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to attendance_types_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('attendance_types') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to evaluation_attendances_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('evaluation_attendances') %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <%= link_to '#', class: 'nav-link' do %>
              <%= icon('fas', 'book', class: 'nav-icon') %>
              <p><%= t('addresses') %><%= icon('fas', 'angle-left', class: 'right') %></p>
            <% end %>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <%= link_to countries_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('countries') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to states_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('states') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to municipalities_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('municipalities') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to settlements_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('settlements') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to addresses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('addresses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to institution_addresses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('institution_addresses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to campus_addresses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('campus_addresses') %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to user_addresses_path, class: 'nav-link' do %>
                  <%= icon('fas', 'school', class: 'nav-icon') %><%= t('user_addresses') %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
  <% end %>
  <!-- /.sidebar -->
</aside>
