<!--nav id="sidebar">
  <div class="sidebar-header"></div>

  <ul class="list-unstyled components">
    <li>
      <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
         class="dropdown-toggle"><%= icon('fas', 'home') %><%= t('start') %></a>
      <ul class="collapse list-unstyled" id="homeSubmenu">
        <li><%= link_to t('home'), root_path %></li>
        <li><%= link_to t('help'), help_path %></li>
        <li><%= link_to t('about'), about_path %></li>
        <li><%= link_to t('contact'), contact_path %></li>
      </ul>
    </li>
    <li>
      <a href="#institutionSubmenu" data-toggle="collapse"
         aria-expanded="false" class="dropdown-toggle">
        <%= icon('fas', 'book') %><%= t('catalogs') %></a>
      <ul class="collapse list-unstyled" id="institutionSubmenu">
        <li>
          <%= link_to statuses_path do %>
            <%= icon('fas', 'school') %><%= t('statuses') %>
          <% end %>
        </li>
        <li>
          <%= link_to countries_path do %>
            <%= icon('fas', 'globe') %><%= t('countries') %>
          <% end %>
        </li>
        <li>
          <%= link_to institutions_path do %>
            <%= icon('fas', 'school') %><%= t('institutions') %>
          <% end %>
        </li>
        <li>
          <%= link_to campuses_path do %>
            <%= icon('fas', 'school') %><%= t('campuses') %>
          <% end %>
        </li>
        <li>
          <%= link_to buildings_path do %>
            <%= icon('fas', 'school') %><%= t('buildings') %>
          <% end %>
        </li>
        <li>
          <%= link_to classrooms_path do %>
            <%= icon('fas', 'school') %><%= t('classrooms') %>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#educativeLevelSubmenu" data-toggle="collapse"
         aria-expanded="false" class="dropdown-toggle">
        <%= icon('fas', 'book') %><%= t('educative_levels') %></a>
      <ul class="collapse list-unstyled" id="educativeLevelSubmenu">
        <li>
          <%= link_to educative_levels_path do %>
            <%= icon('fas', 'school') %><%= t('educative_levels') %>
          <% end %>
        </li>
        <li>
          <%= link_to careers_path do %>
            <%= icon('fas', 'school') %><%= t('careers') %>
          <% end %>
        </li>
        <li>
          <%= link_to syllabuses_path do %>
            <%= icon('fas', 'school') %><%= t('syllabuses') %>
          <% end %>
        </li>
        <li>
          <%= link_to grades_path do %>
            <%= icon('fas', 'school') %><%= t('grades') %>
          <% end %>
        </li>
        <li>
          <%= link_to courses_path do %>
            <%= icon('fas', 'school') %><%= t('courses') %>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#academicCycleSubmenu" data-toggle="collapse"
         aria-expanded="false" class="dropdown-toggle">
        <%= icon('fas', 'book') %><%= t('academic_cycles') %></a>
      <ul class="collapse list-unstyled" id="academicCycleSubmenu">
        <li>
          <%= link_to cycle_types_path do %>
            <%= icon('fas', 'school') %><%= t('cycle_types') %>
          <% end %>
        </li>
        <li>
          <%= link_to academic_cycles_path do %>
            <%= icon('fas', 'school') %><%= t('academic_cycles') %>
          <% end %>
        </li>
        <li>
          <%= link_to modalities_path do %>
            <%= icon('fas', 'school') %><%= t('modalities') %>
          <% end %>
        </li>
        <li>
          <%= link_to turns_path do %>
            <%= icon('fas', 'school') %><%= t('turns') %>
          <% end %>
        </li>
        <li>
          <%= link_to evaluation_periods_path do %>
            <%= icon('fas', 'school') %><%= t('evaluation_periods') %>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#campusEvaluationSubmenu" data-toggle="collapse"
         aria-expanded="false" class="dropdown-toggle">
        <%= icon('fas', 'book') %><%= t('groups') %></a>
      <ul class="collapse list-unstyled" id="campusEvaluationSubmenu">
        <li>
          <%= link_to cycle_modalities_path do %>
            <%= icon('fas', 'school') %><%= t('cycle_modalities') %>
          <% end %>
        </li>
        <li>
          <%= link_to cycle_turns_path do %>
            <%= icon('fas', 'school') %><%= t('cycle_turns') %>
          <% end %>
        </li>
        <li>
          <%= link_to turn_evaluations_path do %>
            <%= icon('fas', 'school') %><%= t('turn_evaluations') %>
          <% end %>
        </li>
        <li>
          <%= link_to campus_evaluations_url do %>
            <%= icon('fas', 'school') %><%= t('campus_evaluations') %>
          <% end %>
        </li>
        <li>
          <%= link_to groups_path do %>
            <%= icon('fas', 'school') %><%= t('groups') %>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#gradeCourseSubmenu" data-toggle="collapse"
         aria-expanded="false" class="dropdown-toggle">
        <%= icon('fas', 'book') %><%= t('grade_courses') %></a>
      <ul class="collapse list-unstyled" id="gradeCourseSubmenu">
        <li>
          <%= link_to level_careers_path do %>
            <%= icon('fas', 'school') %><%= t('level_careers') %>
          <% end %>
        </li>
        <li>
          <%= link_to career_syllabuses_path do %>
            <%= icon('fas', 'school') %><%= t('career_syllabuses') %>
          <% end %>
        </li>
        <li>
          <%= link_to syllabus_grades_path do %>
            <%= icon('fas', 'school') %><%= t('syllabus_grades') %>
          <% end %>
        </li>
        <li>
          <%= link_to grade_courses_path do %>
            <%= icon('fas', 'school') %><%= t('grade_courses') %>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#userSubmenu" data-toggle="collapse"
         aria-expanded="false" class="dropdown-toggle">
        <%= icon('fas', 'book') %><%= t('users') %></a>
      <ul class="collapse list-unstyled" id="userSubmenu">
        <li>
          <%= link_to students_path do %>
            <%= icon('fas', 'school') %><%= t('students') %>
          <% end %>
        </li>
        <li>
          <%= link_to professors_path do %>
            <%= icon('fas', 'school') %><%= t('professors') %>
          <% end %>
        </li>
        <li>
          <%= link_to professor_courses_path do %>
            <%= icon('fas', 'school') %><%= t('professor_courses') %>
          <% end %>
        </li>
        <li>
          <%= link_to parents_path do %>
            <%= icon('fas', 'school') %><%= t('parents') %>
          <% end %>
        </li>
        <li>
          <%= link_to relationships_path do %>
            <%= icon('fas', 'school') %><%= t('relationships') %>
          <% end %>
        </li>
        <li>
          <%= link_to tutors_path do %>
            <%= icon('fas', 'school') %><%= t('tutors') %>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#evaluationSubmenu" data-toggle="collapse"
         aria-expanded="false" class="dropdown-toggle">
        <%= icon('fas', 'book') %><%= t('course_evaluations') %></a>
      <ul class="collapse list-unstyled" id="evaluationSubmenu">
        <li>
          <%= link_to course_evaluations_path do %>
            <%= icon('fas', 'school') %><%= t('course_evaluations') %>
          <% end %>
        </li>
        <li>
          <%= link_to student_courses_path do %>
            <%= icon('fas', 'school') %><%= t('student_courses') %>
          <% end %>
        </li>
        <li>
          <%= link_to course_marks_path do %>
            <%= icon('fas', 'school') %><%= t('course_marks') %>
          <% end %>
        </li>
        <li>
          <%= link_to course_homeworks_path do %>
            <%= icon('fas', 'school') %><%= t('course_homeworks') %>
          <% end %>
        </li>
        <li>
          <%= link_to student_homeworks_path do %>
            <%= icon('fas', 'school') %><%= t('student_homeworks') %>
          <% end %>
        </li>
        <li>
          <%= link_to homework_marks_path do %>
            <%= icon('fas', 'school') %><%= t('homework_marks') %>
          <% end %>
        </li>
        <li>
          <%= link_to attendance_types_path do %>
            <%= icon('fas', 'school') %><%= t('attendance_types') %>
          <% end %>
        </li>
        <li>
          <%= link_to evaluation_attendances_path do %>
            <%= icon('fas', 'school') %><%= t('evaluation_attendances') %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</nav -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <%= link_to root_path, class: 'brand-link' do %>
    <%= image_tag 'AdminLTELogo.png', class: 'brand-image img-circle elevation-3' %>
    <span class="brand-text font-weight-light"><%= t('app_name') %></span>
  <% end %>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: block;">
            <li class="nav-item">
              <a href="../../index.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../../index2.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v2</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../../index3.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v3</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="../widgets.html" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Widgets
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Layout Options
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../layout/top-nav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Top Navigation</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/top-nav-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Top Navigation + Sidebar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/boxed.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Boxed</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/fixed-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Sidebar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/fixed-topnav.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Navbar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/fixed-footer.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fixed Footer</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/collapsed-sidebar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Collapsed Sidebar</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Charts
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../charts/chartjs.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ChartJS</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../charts/flot.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Flot</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../charts/inline.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inline</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
              UI Elements
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../UI/general.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>General</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Icons</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/buttons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Buttons</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/sliders.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sliders</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/modals.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Modals &amp; Alerts</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/navbar.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Navbar &amp; Tabs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/timeline.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Timeline</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/ribbons.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ribbons</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Forms
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../forms/general.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>General Elements</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../forms/advanced.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Advanced Elements</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../forms/editors.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Editors</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../forms/validation.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Validation</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Tables
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../tables/simple.html" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Simple Tables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../tables/data.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>DataTables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../tables/jsgrid.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>jsGrid</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">EXAMPLES</li>
        <li class="nav-item">
          <a href="../calendar.html" class="nav-link">
            <i class="nav-icon far fa-calendar-alt"></i>
            <p>
              Calendar
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../gallery.html" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Gallery
            </p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-envelope"></i>
            <p>
              Mailbox
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../mailbox/mailbox.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Inbox</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../mailbox/compose.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Compose</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../mailbox/read-mail.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Read</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Pages
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../examples/invoice.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Invoice</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/profile.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Profile</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/e-commerce.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>E-commerce</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/projects.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Projects</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/project-add.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Project Add</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/project-edit.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Project Edit</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/project-detail.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Project Detail</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/contacts.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Contacts</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-plus-square"></i>
            <p>
              Extras
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../examples/login.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Login</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/register.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Register</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/forgot-password.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Forgot Password</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/recover-password.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Recover Password</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/lockscreen.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Lockscreen</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/legacy-user-menu.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Legacy User Menu</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/language-menu.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Language Menu</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/404.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Error 404</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/500.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Error 500</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/pace.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Pace</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/blank.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Blank Page</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../../starter.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Starter Page</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">MISCELLANEOUS</li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.0" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
        <li class="nav-header">MULTI LEVEL EXAMPLE</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Level 1</p>
          </a>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-circle"></i>
            <p>
              Level 1
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Level 2</p>
              </a>
            </li>
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Level 2
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Level 3</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Level 3</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Level 3</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Level 2</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Level 1</p>
          </a>
        </li>
        <li class="nav-header">LABELS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Important</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>Warning</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p>Informational</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

