<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/rails_default' %>
</head>

<body>
<div class="wrapper">
  <%= render 'layouts/sidebar' if user_signed_in? %>
  <div id="content">
    <%= render 'layouts/navbar' %>
    <%= render 'shared/alert' %>
    <div class="row">
      <div class="col col-md-8 offset-md-2">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>



