<!DOCTYPE html>
<html lang="es">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%= render 'layouts/rails_default' %>
</head>

<body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-navbar-fixed layout-fixed layout-footer-fixed">
<div class="wrapper">
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/sidebar' %>
  <%= render 'layouts/content' %>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
